.cart-container {
  padding: 30px;
}

.cart-heading {
  text-align: center;
}

.empty-text {
  text-align: center;
}

.cart-item {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 12px;
  border-radius: 8px;
}

.cart-image {
  width: 100px;
  margin-right: 20px;
}

.cart-details h3 {
  margin: 0;
}

.qty-box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.qty-box button {
  padding: 5px 10px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}

.remove-btn {
  background: red;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: auto;
}

.total {
  margin-top: 20px;
  text-align: right;
}
