.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  background: #f5f5f5;
  flex-wrap: wrap;
}

.hero-text {
  max-width: 500px;
}

.hero-text h1 {
  font-size: 42px;
  color: #a3268e;
}

.hero-text p {
  font-size: 18px;
  margin: 10px 0;
}

.hero-btn {
  padding: 12px 20px;
  background: #a3268e;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 18px;
}
.hero-btn:hover {
  background: #a3268e;
}
.hero-img img {
  width: 350px;
  max-width: 100%;
}
.categories {
  text-align: center;
  padding: 40px 20px;
}
.categories h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #a3268e;
}
.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  padding: 20px;
}
.category-card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  font-size: 20px;
  font-weight: bold;
  color: #a3268e;
  border: 2px solid #a3268e;
  transition: 0.3s;
}
.category-card:hover {
  background: #a3268e;
  color: white;
  transform: translateY(-5px);
}