
.navbar {
  width: 100%;
  height: 60px;
  background: #4d1543;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 20px;
  position: sticky;
  top: 0;
  border-radius: 10px;
  
}

.logo {
  font-size: 26px;
  font-weight: bold;
  margin-left: 5px;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin-right: 10px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.nav-links li a:hover {
  text-decoration: underline;
}
.search-box input {
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  width: 250px;
}
