.container1{
    border: 1px solid black;
    border-radius: 7px;
    margin-left: 10px;
    padding: 10px;
    font-size: medium;
    margin-bottom: 5px;
    margin-right: 700px;
    border: 2px solid black;
    display:flex;

}
p{
    font-size: 0.8rem;
}

.container2{
    text-align: center;
    margin-bottom: 3px;
}

